

  .header {
    display: grid;
    padding-top: 30px;
    width: 80%;
    justify-self: center;
    margin: 0 auto;

    .header-info {
      display: grid;
      grid-template-columns: 3fr 1fr 1fr;



      .header-info1 {
        display: grid;

      }
      .header-info2 {
        display: grid;
        grid-template-columns: 1fr 40px;
        padding-bottom: 20px;



      }
      .header-info3 {
        display: grid;
        grid-template-columns: 1fr 40px;
        padding-bottom: 20px;
      }
    }
  }

  .menu-row {
    display: inline-block;
    padding: 10px 0px 25px;
    // grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    // grid-template-columns:  1fr 1fr;

  }



.phone,
.location {
  display: grid;
  justify-self: center;
  align-self: center;
  font-size: 1rem;
  color: #333333;
  text-align: right;
  font-family: 'Lato', sans-serif;

}


.menu-box {
 // font-family: 'Roboto', sans-serif;
  font-family: 'Lato', sans-serif;
  padding: 0.5rem;
  font-size: 1.2rem;
  columns: #666666;
  font-weight: 500;
}

.menu-box-f {
  float: right;
  font-size: 1rem;
  columns: #666666;
  font-weight: 500;
  vertical-align: top;
  text-align: left;
}

.slide-show {
  display: inline;

}

.test-head {
  font-family: 'Lato', sans-serif;
  text-align: left;
  font-size: 2rem;
  padding: 1rem 3rem;
  background-color: #f2f3f7;
  color: #000;
  font-weight: 500;
}

.caption {
  font-family: 'Lato', sans-serif;
  position: absolute;
  color:black;
  top: 200px;
  left: 50px;
  width: 45%;
  height: auto;
  // border: 2px solid red;
  margin-bottom: 20px;
    font-size: 48px;
    line-height: 1.3;
    font-weight: 300;


}

.caption-second {
  position: relative;

  color:black;
float: left;
  width: 100%;
  height: auto;
  // border: 2px solid red;

  font-size: 24px;
    line-height: 1.5;
    // margin-bottom: 30px;
    font-weight: 300;
    font-family: "Poppins", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.5);

}

.caption-third {
  position: relative;
  float: left;
  height: auto;

  // border: 2px solid red;

}


.stats {
  display: grid;
  background-color: #3c97e8;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
  height: auto;
  width: 100%;

  background: #3c97e8;
  background: -moz-linear-gradient(to left, #43DDE6 0%, #3c97e8 100%);
  background: -webkit-linear-gradient(to left, #43DDE6 0%, #3c97e8 100%);
  background: -webkit-gradient(linear, left top, right top, from(#43DDE6), to(#3c97e8));
  background: -o-linear-gradient(left, #43DDE6 0%, #3c97e8 100%);
  background: linear-gradient(to left, #43DDE6 0%, #3c97e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43DDE6', endColorstr='#3c97e8',GradientType=1 );
  opacity: .9;

  .item1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;


  }
  .desc-item1 {
    display: grid;
    grid-column: 1/-1;
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    padding-bottom: 1.5rem;
    font-weight: 500;
  }

}

.our-services {
  display: grid;
  width: 80%;
  padding-top: 70px;

  justify-items: center;
  margin: 0px auto;

  grid-template-columns: 1fr;
//  grid-template-rows: 210px 210px 210px;


  .row1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    .item1,
    .item2,
    .item3 {
      padding: 24px 32px;
      border: 1px solid rgb(223, 223, 223);
      font-size: 1.2rem;
      font-weight: 500;
      columns: #666666;
    }
    .item4 {
      display: grid;
      grid-column: 4/-1;
      padding: 24px 32px;
      // border: 1px solid rgb(223, 223, 223);
      font-size: 2rem;
      font-weight: 600;
      columns: #666666;
    }

  }

  .row2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    .item1,
    .item2,

    .item4,
    .item5 {
      padding: 24px 32px;
      border: 1px solid rgb(223, 223, 223);
      font-size: 1.2rem;
      font-weight: 500;
      columns: #666666;
    }
    .item3 {
      padding: 24px 32px;
      background-image: url('/assets/images/image1.png');

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    }
  }

  .row3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    .item1,
    .item2
     {
      padding: 24px 32px;
      border: 1px solid rgb(223, 223, 223);
      font-size: 1.2rem;
      font-weight: 500;
      columns: #666666;
    }
    .item3 {
      display: grid;
     grid-column: 3/-1;
     padding: 24px 32px;
     font-weight: 500;
     columns: #666666;
     font-size: 1.2rem;
    }
  }


  @media screen and (max-width: 768px) {
    .row1
   {
    display: grid;
    grid-template-columns: 1fr !important;

    .item4 {
      display: grid;
      grid-column: 1/-1;
    }

  }
  .row2
  {
   display: grid;
   grid-template-columns: 1fr !important;
  }

  .row3
  {
   display: grid;
   grid-template-columns: 1fr !important;

   .item3 {
    display: grid;
    grid-column: 1/-1;
  }
  }

  }

}

// *****


// ****

.icon {
  display: block;
  margin: 0px 0px 30px;
}




.desc {
display: block;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-bottom: 10px;
    color: #3c97e8;
}


.our-doctors {
  display: grid;
  width: 80%;
  margin: 0 auto;
  padding: 23px 0px;

  .row1 {
    display: grid;
    height: auto;
    width: 50%;
    margin: 0px auto;

    .head {
      display: grid;
      justify-self: center;

      font-size: 2.2rem;
      color:black;
      margin: 0px 0px 20px;
    }
    .head-caption {

      display: grid;
      justify-self: center;
      margin: 0px 0px 20px;
      text-align: center;

      font-family: "Poppins", Arial, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.6;
      color: #666666;
    }

  }

  .row2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 400px;


    .left-side{
      font-size: 1.2rem;
      color: #666666;
      text-align: left;
      margin: 1rem;

    }

    .right-side{
      margin: 1rem;
      background-image: url('/assets/images/ravi.jpg');

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

    }



  }

}


.about-us {
  display: grid;
  width: 80%;
  margin: 0 auto;
  padding: 10px 0px;

  .row0 {
    display: grid;
    height: auto;
    width: 100%;
    margin-bottom: 1rem;

    .about-desc {
      display: grid;
      text-align: left;
      font-size: 1.2rem;
      font-weight: 400;
      color: #666666;
    }

  }



  .row1 {
    display: grid;
    height: auto;
    width: 50%;
    margin: 0px auto;

    .head {
      display: grid;
      justify-self: center;

      font-size: 2.2rem;
      color:black;
      margin: 0px 0px 20px;
    }
    .head-caption {

      display: grid;
      justify-self: center;
      margin: 0px 0px 20px;
      text-align: center;

      font-family: "Poppins", Arial, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.6;
      color: #666666;
    }

  }

  .row2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 400px;


    .aboutus-left-side{
      font-size: 1.2rem;
      color: #666666;
      text-align: left;
      // margin: 1rem;

    }

    .aboutus-right-side {
      // margin: 1rem;
   //   background-image: url('/assets/images/award2.png');

      /* Center and scale the image nicely */
      // background-position: center;
      // background-repeat: no-repeat;
      // background-size: 500px;

    }



  }

}



.testimonial-slide {
  display: grid;
padding: 1rem 2rem;
  text-align: center;
  background-color: #f2f3f7;
  min-height: 100px;

}
.testi-desc {
font-size: 1.2rem;
font-family: 'Lato', sans-serif;
}

.products {
  display: grid;
  padding: 1rem 2rem;
  grid-template-columns: 1fr;

  .prod-head{
    font-size: 38px;
    color: #000;
  }

  .prod-head-caption {
    font-size: 1rem;
    color: #666666;
  }

  .row1 {
    display: grid;
    text-align: center;
    padding: 1rem;

  }
}

/* Float four columns side by side */
.column {
  float: left;
  width: 20%;
  padding: 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .column {
    width: 33%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 12px;
  text-align: center;
  background-color: #f1f1f1;
}


.dropbtn {

  color: #333333;

  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99999;
}

.dropdown-content a {
  color: black;
   padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  // background-color: #3e8e41;
}



input {
  display: none;
}

label {
  display: flex;
  width: 100%;
  height: 40px;
  cursor: pointer;
  border: 3px solid #3E474F;
  user-select: none;
}

label div:first-child {
  width: 100%;
  line-height: 35px;
  margin-left: 10px;
  font-size: 1em;
}

.cross{
  margin-right:15px;
  margin-top:3px;
}

.cross:before,.cross:after {
  content: '';
  border-top: 2px solid #3E474F;
  width: 15px;
  display: block;
  margin-top: 12px;
  transition: 0.3s;
}

.cross:after {
  transform: rotate(90deg);
  margin-top: -2px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  font-size: 16px;
  margin: 10px 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height, .5s;
  font-family: 'Roboto', sans-serif;
  color: #666666;
}


input:checked ~ .content {
  max-height: 400px;
  transition: max-height, 1s;
}

input:checked ~ label .cross:before {
  transform: rotate(180deg);
}

input:checked ~ label .cross:after {
  transform: rotate(0deg);
}

.questions{
  margin-top:20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height, .5s;
}

.questions label{
  border:none;
  box-shadow: none;
  margin:0;
}

input:checked ~ .questions {
  max-height: 400px;
  border-bottom:2px solid #3E474F;
  transition: 1s;
}

/*----------tool-tip------------*/

.tip {
  color: #f03768;
  cursor: help;
  position: relative;
  overflow: visible;
  font-family: monospace;
  font-size: 1.3em;
}

.tip:before,
.tip:after {
  position: absolute;
  opacity: 0;
  z-index: -100;
  transform: translateY(-30%);
  transition: .4s;
}

.tip:before {
  content: '';
  border-style: solid;
  border-width: 0.8em 0.5em 0 0.5em;
  border-color: #3E474F transparent transparent transparent;
  transform: translateY(-200%);
  bottom:90%;
  left:50%;
}

.tip:after {
  content: attr(data-tip);
  background: #3E474F;
  color: white;
  width: 150px;
  padding: 10px;
  font-size: 0.8em;
  bottom: 150%;
  left: -50%;
}

.tip:hover:before,
.tip:hover:after {
  opacity: 1;
  z-index: 100;
  transform: scaleY(1);
}

.appoint {
  font-size: 1rem;
  color: white;
  font-weight: 500;
  padding: 1rem;
}


h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.doc-name {
  font-size: 1.5rem;
  color: #3c97e8;
  margin: 0px 0px 20px;
}

.doc-qualification {
  font-size: 1rem;
  color: #666666;
  margin: 0px 0px 20px;
}

.post {
  font-size: 1rem;
  color: #666666;

}

.info {
  font-size: 1.2rem;
  color: #666666;
}

.client-name {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
}

.checked {
  color: orange;
}


.what-we-do {
  display: grid;
  text-align: center;
  width: 80%;
  margin: 0 auto;

  .head{
    display: grid;
    font-size: 38px;
    color: #000;
  }
  .head-caption {
    font-size: 1rem;
    color: #666666;
  }
}



.left-align {
  text-align: left;
  padding-left: 30px;
}



.aboutus-content {
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  font-size: 0.9em;
  margin: 5px 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height, .5s;
}


input:checked ~ .aboutus-content {
  max-height: 400px;
  transition: max-height, 1s;
}


.contact-us {
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  margin: 0 auto;

  .contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 101px) and (max-width: 768px) {
    .contact-section {
      display: grid;
      grid-template-columns: 1fr;
    }
  }




  .contactus-head {
    display: grid;
    margin: 2rem;
    text-align: center;
    font-size: 38px;
    color: #000;
  }

  .contactus-address {
    display: grid;
    margin: 0px 2rem;
    text-align: left;
    font-size: 1.2rem;
    color: #000;
  }

}
@media screen and (min-width: 101px) and (max-width: 768px) {
  .contact-us {
    display: grid;
    grid-template-columns: 1fr;
    width: 96%;
    margin: 0 auto;
  }
}

.timings {
  margin: 0.1rem;
  font-size: 1rem;
  color: #666666;
}

.light {
  font-size: 1rem;
  color: #666666;
}

.footer {
  display: grid;
  padding: 2rem;
  margin-top: 3rem;
  text-align: center;
  font-size: 0.9rem;
  color: #ffffff;
  background-color: #000;
}

#fixedbutton {
  position: fixed;
  bottom: 0px;
  right: 0px;

  margin: 0.6rem;
}


ul.a {
  list-style-type: circle;
}

.menu-box:hover {
  background-color: rgb(66, 141, 66);
  color: #ffffff;
  cursor: pointer;
}

.contact-block{
  padding-left: 10px;
}

.txt {
  font-family: 'Lato', sans-serif;

}

.award {
  display: grid;
  text-align: center;
  font-size: 1.5rem;
  color: green;
  font-weight: 500;
  font-family: 'Lato', sans-serif;

}

.award-desc {
  display: grid;
  text-align: left;
  font-size: 1.2rem;
  color: #666666;
  font-weight: 400;
  margin-bottom: 16px;
  font-family: 'Lato', sans-serif;

}

.award-img {
  margin: 1rem;
}

.about-desc-founder {
  display: grid;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 400;
  color: #666666;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}

.head-founder {
display: grid;
justify-self: left;
font-family: 'Lato', sans-serif;
font-size: 1.8rem;
color:black;
padding-bottom: 6px;

}
