.header {
  display: grid;
  padding-top: 5px;
  width: 100%;
  justify-self: center;
  margin: 0 auto;
  background-color: #dddede;

  .header-info {
    display: grid;
    grid-template-columns: 6fr 240px 210px 1fr 1fr;

    .header-info1 {
      display: grid;
      grid-template-columns: 1fr;
      padding-bottom: 5px;

    }

    .header-info2 {
      display: grid;
      grid-template-columns: 1fr 40px;
      padding-bottom: 5px;

    }

    .header-info3 {
      display: grid;
      grid-template-columns: 1fr 40px;
      padding-bottom: 5px;
    }

    .header-info4 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding-bottom: 5px;
      justify-content: center;
      align-content: center;
      justify-items: center;
    }

    .header-info5 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding-bottom: 5px;
      justify-content: center;
      align-content: center;
      justify-items: center;
    }

  }

  @media screen  and (min-width: 768px) {
    width: 100%;

    .header-info {
      grid-template-columns: 3fr 220px 200px 1fr 150px;
    }
  }

  @media screen  and (max-width: 768px) {
     display: none;


  }

}

.menu-row {
  display: inline-block;
  padding: 10px 0px 25px;
}



.phone,
.location {
  display: grid;
  justify-self: center;
  align-self: center;
  font-size: 0.9rem;
  color: #333333;
  text-align: right;
  font-size: 0.9rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;

}


.menu-box-f {
  float: right;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;

  columns: #666666;

  vertical-align: top;
  text-align: left;
}

.slide-show {
  display: inline;
}

.test-head {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 38px;
  padding: 1rem 3rem;
  background-color: #00c2a9;
  color: #ffffff;
  font-weight: 400;
  margin-top: 2rem;
}

.caption {
  font-family: 'Lato', sans-serif;
  position: absolute;
  color: black;
  top: 200px;
  left: 50px;
  width: 45%;
  height: auto;

  margin-bottom: 20px;
  font-size: 48px;
  line-height: 1.3;
  font-weight: 300;

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    top: 100px;
    left: 20px;
    width: 50%;

    font-size: 36px;
    line-height: 1.2;
    font-weight: 300;
  }

  @media screen and (min-width: 1025px) and (max-width: 1190px) {
    top: 100px;
    left: 20px;
    width: 50%;

    font-size: 36px;
    line-height: 1.2;
    font-weight: 300;
  }

  @media screen and  (max-width: 768px) {
    top: 50px;
    left: 20px;
    width: 60%;

    font-size: 24px;
    line-height: 1.2;
    font-weight: 300;
  }

}

.caption-second {
  position: relative;

  color: black;
  float: left;
  width: 100%;
  height: auto;

  font-size: 24px;
  line-height: 1.5;

  font-weight: 300;
  font-family: "Poppins", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.5);

}

.caption-third {
  position: relative;
  float: left;
  height: auto;

}


.stats {
  display: grid;
  background-color: #99a2aa;
  grid-template-columns: 6fr 1fr 1fr 1fr 1fr;
  height: auto;
  width: 100%;
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;

  background: #07a128;
  background: -moz-linear-gradient(to left, #074C00 0%, #42A341 100%);
  background: -webkit-linear-gradient(to left, #074C00 0%, #42A341 100%);
  background: -webkit-gradient(linear, left top, right top, from(#074C00), to(#42A341));
  background: -o-linear-gradient(left, #074C00 0%, #42A341 100%);
  background: linear-gradient(to left, #074C00 0%, #42A341 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#074C00', endColorstr='#42A341', GradientType=1);
  opacity: .9;

  .item1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;


  }
  .right-item1 {
    padding: 0.5rem;
    place-self: center;

    @media screen and (max-width: 768px) {
      padding: 0.1rem;
    }

  }
  .desc-item1 {
    display: grid;
    grid-column: 1/-1;
    font-family: 'Lato';
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    padding-bottom: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

}

.our-services {
  display: grid;
  width: 80%;
  padding-top: 70px;

  justify-items: center;
  margin: 0px auto;

  grid-template-columns: 1fr;

  .row1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    .item1,
    .item2,
    .item3 {
      padding: 24px 32px;
      border: 1px solid rgb(223, 223, 223);
      font-size: 1.2rem;
      font-weight: 500;
      columns: #666666;
    }

    .item4 {
      display: grid;
      grid-column: 4/-1;
      padding: 24px 32px;
      font-size: 2rem;
      font-weight: 600;
      columns: #666666;
    }

  }

  .row2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    .item1,
    .item2,

    .item4,
    .item5 {
      padding: 24px 32px;
      border: 1px solid rgb(223, 223, 223);
      font-size: 1.2rem;
      font-weight: 500;
      columns: #666666;
    }

    .item3 {
      padding: 24px 32px;
      background-image: url('/assets/images/image1.png');

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

    }
  }

  .row3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    .item1,
    .item2 {
      padding: 24px 32px;
      border: 1px solid rgb(223, 223, 223);
      font-size: 1.2rem;
      font-weight: 500;
      columns: #666666;
    }

    .item3 {
      display: grid;
      grid-column: 3/-1;
      padding: 24px 32px;
      font-weight: 500;
      columns: #666666;
      font-size: 1.2rem;
    }
  }


  @media screen and (max-width: 768px) {
    .row1 {
      display: grid;
      grid-template-columns: 1fr !important;

      .item4 {
        display: grid;
        grid-column: 1/-1;
      }

    }

    .row2 {
      display: grid;
      grid-template-columns: 1fr !important;
    }

    .row3 {
      display: grid;
      grid-template-columns: 1fr !important;

      .item3 {
        display: grid;
        grid-column: 1/-1;
      }
    }

  }

}


.icon {
  display: block;
  margin: 0px 0px 0px;
  border-bottom: 0px !important;


}




.desc {
  display: block;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 10px;
  color: #3c97e8;
}


.our-doctors {
  display: grid;
  width: 80%;
  margin: 0 auto;
  padding: 23px 0px;

  .row1 {
    display: grid;
    height: auto;
    width: 50%;
    margin: 0px auto;

    .head {
      display: grid;
      justify-self: center;

      font-size: 2.2rem;
      color: black;
      margin: 0px 0px 20px;
    }

    .head-caption {

      display: grid;
      justify-self: center;
      margin: 10px 20px;
      text-align: center;

      font-family: "Poppins", Arial, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.6;
      color: #666666;
    }

  }

  .row2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 400px;


    .left-side {
      font-size: 1.2rem;
      color: #666666;
      text-align: left;
      margin: 1rem;

    }

    .right-side {
      margin: 1rem;
      background-image: url('/assets/images/ravi.jpg');

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

    }



  }

}


.about-us {
  display: grid;
  width: 80%;
  margin: 0 auto;
 padding-top: 36px;

  .row0 {
    display: grid;
    height: auto;
    width: 100%;
    margin: 1rem;

    .about-desc {
      display: grid;
      text-align: left;

      color: #666666;

      font-family: 'Roboto', sans-serif;
      font-size: 1.2rem;
      font-weight: 300;

      @media screen and (max-width: 768px) {
        display: grid;
        grid-template-columns: 1fr;
        width: 96%;
      }

    }

  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    width: 96%;
  }






  .row1 {
    display: grid;
    height: auto;
    width: 50%;
    margin: 0px auto;

    @media screen and (max-width: 768px) {
      display: grid;
      height: auto;
      width: 100%;
      margin: 0px auto;
    }

    .head {
      display: grid;
      justify-self: center;

      font-size: 2.2rem;
      color: green;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      margin: 0px 0px 20px;
    }

    .head-caption {

      display: grid;
      justify-self: center;
      margin: 0px 0px 20px;
      text-align: center;

      font-family: "Poppins", Arial, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.6;
      color: #666666;
    }

  }

  .row2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 400px;

    @media screen and (max-width: 768px) {
      display: grid;
      grid-template-columns: 1fr;
      min-height: 400px;

    }

    .aboutus-left-side {
      font-size: 1.2rem;
      color: #666666;
      text-align: left;
      margin: 1rem;
      font-family: 'Roboto', sans-serif;
      font-size: 1.2rem;
      font-weight: 300;




    }



  }

}



.testimonial-slide {
  display: grid;
  padding: 1rem 4rem;

  // text-align: center;
  background-color: #00c2a9;
  min-height: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: #ffffff;

  @media screen and (min-width: 101px) and (max-width: 768px) {
    padding: 0.5rem 1rem;
  }

}

.testi-desc {
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;



}

.products {
  display: grid;
  padding: 1rem 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;

  .prod-head {
    font-size: 38px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: green;

  }

  .prod-head-caption {
    font-size: 1rem;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
  }

  .row1 {
    display: grid;
    // grid-template-columns: 1fr;
    grid-column: 1/-1;
    text-align: center;
    padding: 1rem;

  }

  .enquiry {
    margin: 1rem;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: #333333;
  }
}







/* Responsive columns */
@media screen and (max-width: 600px) {
  .products {
    grid-template-columns: 1fr;
  }


}

// @media screen and (min-width: 601px) and (max-width: 768px) {
//   .column {
//     width: 50%;
//     display: block;
//     margin-bottom: 20px;
//   }
// }

// @media screen and (min-width: 769px) and (max-width: 1024px) {
//   .column {
//     width: 33%;
//     display: block;
//     margin-bottom: 20px;
//   }
// }

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 12px;
  margin: 1rem;
  max-width: 280px;

  text-align: center;
  background-color: #ffffff;
}


.dropbtn {

  color: #333333;

  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99999;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}





input {
  display: none;
}

label {
  display: flex;
  width: 100%;
  height: 40px;
  cursor: pointer;
  background-color: #00c2a9;
  font-family: 'Lato', sans-serif;
  color: #ffffff !important;

}

label div:first-child {
  width: 100%;
  line-height: 35px;
  margin-left: 10px;
  font-size: 1.2rem;
  color: #ffffff;
}

.cross {
  margin-right: 15px;
  margin-top: 3px;
}

.cross:before,
.cross:after {
  content: '';
  border-top: 2px solid #ffffff;
  width: 15px;
  display: block;
  margin-top: 12px;
  transition: 0.3s;
}

.cross:after {
  transform: rotate(90deg);
  margin-top: -2px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  font-size: 16px;
  margin: 2px 3px;
  max-height: 0;
  overflow: hidden;
  transition: max-height, .5s;
  font-family: 'Roboto', sans-serif;
  color: #666666;

}


input:checked~.content {
  max-height: 400px;
  transition: max-height, 1s;
}

input:checked~label .cross:before {
  transform: rotate(180deg);
}

input:checked~label .cross:after {
  transform: rotate(0deg);
}


/*----------tool-tip------------*/

.tip {
  color: #f03768;
  cursor: help;
  position: relative;
  overflow: visible;
  font-family: monospace;
  font-size: 1.3em;
}

.tip:before,
.tip:after {
  position: absolute;
  opacity: 0;
  z-index: -100;
  transform: translateY(-30%);
  transition: .4s;
}

.tip:before {
  content: '';
  border-style: solid;
  border-width: 0.8em 0.5em 0 0.5em;
  border-color: #3E474F transparent transparent transparent;
  transform: translateY(-200%);
  bottom: 90%;
  left: 50%;
}

.tip:after {
  content: attr(data-tip);
  background: #3E474F;
  color: white;
  width: 150px;
  padding: 10px;
  font-size: 0.8em;
  bottom: 150%;
  left: -50%;
}

.tip:hover:before,
.tip:hover:after {
  opacity: 1;
  z-index: 100;
  transform: scaleY(1);
}


h1,
h2,
h3,
h4,
h5,
h6,
figure {
  color: #000;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.doc-name {
  font-size: 1.5rem;
  color: #3c97e8;
  margin: 0px 0px 20px;
}

.doc-qualification {
  font-size: 1rem;
  color: #666666;
  margin: 0px 0px 20px;
}

.post {
  font-size: 1rem;
  color: #666666;

}

.info {
  font-size: 1.2rem;
  color: #666666;
}

.client-name {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.checked {
  color: orange;
}


.what-we-do {
  display: grid;
  text-align: center;
  width: 80%;
  margin: 0 auto;

  .head {
    display: grid;
    font-size: 38px;
    color: green;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }

  .head-caption {
    font-size: 1rem;
    color: #666666;
    margin: 10px;
  }
}



.exercises {
  display: grid;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding-top:36px;

  .head {
    display: grid;
    font-size: 38px;
    color: green;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }

  .head-caption {
    font-size: 1rem;
    color: #666666;
    margin: 18px;
  }

  .exercise-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .left {
      display: grid;
      grid-template-columns: 1fr 50px;
    }
    .right {
      display: grid;
      grid-template-columns: 1fr 50px;
    }
  }

  .exerc {
    border: 1px solid green;
    margin: 0.2rem;
    font-family: 'Roboto';
    font-size: 1rem;
    color: #666666;

  }

  .noborder {
    border: 0px solid green !important;
  }


  .exerc-det-view{
    color: green;
    font-family: 'Roboto';
    font-size: 0.9rem;
    padding: 10px;
    cursor: pointer;
  }
  .exerc-det {
    display: grid;
    text-align: left;
    padding: 10px;

  }

  @media screen and (min-width: 101px) and (max-width: 768px) {
    .exercise-detail {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}

.left-align {
  text-align: left;
  padding-left: 30px;

  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #666666;

}



.aboutus-content {
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  font-size: 0.9em;
  margin: 5px 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height, .5s;

}


input:checked~.aboutus-content {
  max-height: 400px;
  transition: max-height, 1s;
}


.contact-us {
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  margin: 0 auto;

  .contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media screen  and (max-width: 768px) {
    .contact-section {
      display: grid;
      grid-template-columns: 1fr;
    }
  }




  .contactus-head {
    display: grid;
    margin: 2rem;
    text-align: center;
    font-size: 38px;
    color: #666666;

    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;

    @media screen  and (max-width: 768px) {
      margin: 1rem;
      font-size: 20px;
    }

  }

  .contactus-address {
    display: grid;
    margin: 0px 2rem;
    text-align: left;
    font-size: 1.2rem;
    color: #666666;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;

    @media screen  and (max-width: 768px) {
      margin: 1rem;
      font-size: 1.2rem;
    }


  }

}

@media screen and (min-width: 101px) and (max-width: 768px) {
  .contact-us {
    display: grid;
    grid-template-columns: 1fr;
    width: 96%;
    margin: 0 auto;
  }
}

.timings {
  margin: 0.1rem;
  font-size: 1rem;
  color: #666666;
}

.light {
  font-size: 1rem;
  color: #666666;
}

.footer {
  display: grid;
  padding: 2rem;
  margin-top: 3rem;
  text-align: center;
  font-size: 0.9rem;
  color: #ffffff;
  background-color: #000;
}

// #fixedbutton {
//   position: fixed;
//   bottom: 10px;
//   right: 10px;


// }


ul.a {
  list-style-type: circle;
}

.menu-box:hover {
  background-color: rgb(66, 141, 66);
  color: #ffffff;
  cursor: pointer;
}

.contact-block {
  padding-left: 10px;
}

.txt {
  font-family: 'Lato', sans-serif;

}

.award {
  display: grid;
  text-align: center;
  font-size: 1.5rem;
  color: green;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  margin: 0.5rem;

}

.award-desc {
  display: grid;
  text-align: left;

  color: #666666;

  margin: 1rem;

  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;


}

.award-img {
  margin: 1rem;
}

.about-desc-founder {
  display: grid;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 400;
  color: #666666;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}

.head-founder {
  display: grid;
  justify-self: left;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  color: green;

  padding-bottom: 6px;

}


.sticky-menu {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.sticky-menu {
  padding-top: 60px;
}


.topnav a.menu {
  float: right;
  display: block;
  z-index: 999999999;

  text-shadow: 1px 1px rgb(197, 196, 196);
  letter-spacing: 1px;

  @media screen  and (max-width: 768px) {
    float: left;
    display: block;
    z-index: 999999999;
  }

}


.topnav {
  overflow: hidden;
   background-color: #ffffff;
   border-bottom: 1px solid rgb(233, 233, 233);

  z-index: 999999999;
}

.topnav a {
  float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 0.2rem 1.1rem;
    text-decoration: none;
    font-size: 18px;
    line-height: 63px;
    z-index: 999999999;


}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  z-index: 999999999;
}

.active {


    background-color: #ffffff !important;
  padding-bottom: 8px !important;
  padding-left: 50px !important;

}

.right-gap {
  padding-right: 50px !important;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1024px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    z-index: 999999999;
  }

  .topnav {
   background-color: #ffffff;
   z-index: 999999999;
  }
}

@media screen and (max-width: 1024px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999999999;
    cursor: pointer;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    border-bottom: 1px solid grey;
    padding: 0px 8px;
    cursor: pointer;
    z-index: 999999999;
  }
}

.topnav-style::before {
  content: '';
  display: block;
  height: 2px;
  background-color: green;
  cursor: pointer;
  position: relative;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

.topnav-style:hover::before {
  width: 100%;
  color: green;
  cursor: pointer;

}


input[type="checkbox"].toggle {
  opacity: 0;
  position: absolute;
  left: -99999px;
}

input[type="checkbox"].toggle+label {
  height: 40px;
  line-height: 40px;
  background-color: #ccc;
  padding: 0px 16px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  -moz-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
}

input[type="checkbox"].toggle+label:before,
input[type="checkbox"].toggle+label:hover:before {
  content: ' ';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 46px;
  height: 36px;
  background: #fff;
  z-index: 2;
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
}

input[type="checkbox"].toggle+label .off,
input[type="checkbox"].toggle+label .on {
  color: #fff;
}

input[type="checkbox"].toggle+label .off {
  margin-left: 46px;
  display: inline-block;
}

input[type="checkbox"].toggle+label .on {
  display: none;
}

input[type="checkbox"].toggle:checked+label .off {
  display: none;
}

input[type="checkbox"].toggle:checked+label .on {
  margin-right: 46px;
  display: inline-block;
}

input[type="checkbox"].toggle:checked+label,
input[type="checkbox"].toggle:focus:checked+label {
  background-color: #67a5ec;
}

input[type="checkbox"].toggle:checked+label:before,
input[type="checkbox"].toggle:checked+label:hover:before,
input[type="checkbox"].toggle:focus:checked+label:before,
input[type="checkbox"].toggle:focus:checked+label:hover:before {
  background-position: 0 0;
  top: 2px;
  left: 100%;
  margin-left: -48px;
}

.quotation {

  // font-size: 30px;
  //margin: 0 auto;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 10px 20px;
  line-height: 1.4;
}

.quotation:before {
  content: open-quote;
  display: inline;
  font-family: Arial Black, Arial;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: #ccc;
  font-size: 3em;
  opacity: 0.8;
}

.quotation::after {
  content: close-quote;
  display: inline;
  font-family: Arial Black, Arial;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 35px;
  color: #ccc;
  font-size: 3em;
  opacity: 0.8;
}

footer {
  margin: 0;
  text-align: right;
  font-size: 2rem;
  font-style: italic;
}

.title {
  font-family: 'Roboto', sans-serif;
  color: #666666;
  font-weight: 500;
  font-size: 1.4rem;

}


.title-exerc {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #666666;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 1rem;
  min-height: 84px;

}

.enquiry {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: green !important;

  border: 1px solid green;
  border-radius: 20px;
  padding: 0.5rem;
  cursor: pointer;
}

.enquiry:hover {
  color: white !important;
  background-color: green;
  cursor: pointer;
}



.appoint {
  font-family: 'Roboto', sans-serif;
  color: #ffffff !important;
  border: 0px solid green;
  border-radius: 20px;
  cursor: pointer;
  padding: 0.8rem 1rem;
  max-width: 220px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  margin: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.appoint:hover {
  color: white !important;
  background-color: #3c97e8 !important;
  cursor: pointer;
  outline-style: none;
}

.appoint:focus {
  outline-style: none;
}


.frame {
  width: 527px;
  height: 265px;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    width: 90%;
  }

}
.filler {
  height: 100px;
}


.activemenu {
  color: darkgreen !important;

}


.theme-color {
  background-color: #00c2a9;
  color: #ffffff;
}



.flip-card {
  background-color: transparent;
  width: 280px;
  height: 280px;

  perspective: 1000px;
  margin-bottom: 10rem;



  @media screen and (min-width: 1025px) and (max-width: 1190px) {
    width: 220px !important;
    height: 220px !important;
  }




}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #ffffff;
  color: black;
}

.flip-card-back {
  // background-color: #2980b9;
  background-color: #ffffff;
  color: #333333;
  transform: rotateY(180deg);
}




.ourservices {
  display: grid;
  padding: 1rem 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 101px) and (max-width: 767px) {
    grid-template-columns: 1fr;
  }

  .prod-head {
    font-size: 38px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: green;

  }

  .prod-head-caption {
    font-size: 1rem;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
  }

  .row1 {
    display: grid;
    // grid-template-columns: 1fr;
    grid-column: 1/-1;
    text-align: center;
    padding: 1rem;

  }

  .enquiry {
    margin: 1rem;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: #333333;
  }
}


.text-style {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  padding: 10px;
}

.scroll-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 44px;
  height: 44px;
  opacity: 0;
  z-index: -1;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: opacity .4s ease;
  transition: opacity .4s ease;
  background-color: #000;
  background-color: rgba(0,0,0,.2);
}

.scroll-top:before {
  display: block;
  width: 44px;
  height: 44px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='44px' height='44px' viewBox='0 0 44 44' enable-background='new 0 0 44 44' xml:space='preserve'%3E%3Cpath fill='white' d='M29.121,19.55l-6.29-6.196c-0.025-0.025-0.053-0.049-0.082-0.071c-0.012-0.011-0.024-0.02-0.038-0.03c-0.016-0.011-0.031-0.024-0.048-0.034c-0.017-0.011-0.032-0.02-0.048-0.03c-0.015-0.009-0.029-0.018-0.044-0.025c-0.017-0.009-0.034-0.017-0.051-0.024c-0.016-0.008-0.031-0.015-0.047-0.022c-0.016-0.006-0.033-0.012-0.049-0.018c-0.018-0.005-0.035-0.014-0.053-0.019c-0.017-0.005-0.034-0.008-0.05-0.013c-0.018-0.005-0.036-0.009-0.054-0.013c-0.02-0.003-0.039-0.006-0.059-0.008c-0.016-0.003-0.032-0.005-0.049-0.007c-0.073-0.007-0.146-0.007-0.218,0c-0.017,0.002-0.033,0.005-0.05,0.008c-0.02,0.002-0.038,0.005-0.058,0.009c-0.019,0.003-0.037,0.009-0.055,0.013c-0.016,0.005-0.033,0.008-0.05,0.013c-0.017,0.005-0.035,0.012-0.052,0.018c-0.017,0.006-0.033,0.012-0.049,0.019c-0.017,0.006-0.032,0.014-0.048,0.021c-0.017,0.008-0.034,0.016-0.051,0.024c-0.015,0.008-0.029,0.018-0.044,0.026c-0.015,0.008-0.031,0.018-0.048,0.029c-0.016,0.01-0.031,0.022-0.047,0.034c-0.014,0.01-0.027,0.019-0.04,0.028c-0.042,0.035-0.08,0.073-0.117,0.113c-0.013,0.011-0.026,0.021-0.037,0.033l-6.313,6.219c-0.433,0.428-0.434,1.12-0.003,1.544c0.432,0.426,1.131,0.424,1.564-0.002l4.495-4.426l-0.023,14.11c-0.001,0.603,0.493,1.092,1.104,1.09s1.107-0.49,1.109-1.095l0.023-14.108l4.403,4.334c0.432,0.426,1.133,0.424,1.565-0.003S29.553,19.975,29.121,19.55'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
}

.scroll-top.on {
  right: 10px;
  opacity: 1;
  z-index: 109;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
